* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.img1 {
  position: absolute;
  width: 98px;
  height: 82px;
  left: 117px;
  top: 53px;
  /* background: url(); */
}
.img2 {
  position: absolute;
  width: 570px;
  height: 427px;
  left: 800px;
  top: 266px;
  /* background: url(277596439_305441681660411_1330675926711566595_n.jpg); */
  border-radius: 30px;
}
.img3 {
  position: absolute;
  width: 500px;
  height: 480px;
  left: 117px;
  top: 860px;
  /* background: url(306967409_3243515309241386_6986689498272507103_n.jpg); */
  border-radius: 30px;
}
.img4 {
  position: absolute;
  width: 98px;
  height: 82px;
  left: 80px;
  top: 43px;

  /* background: url(Logo(1)); */
}
.ov1 {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 1210px;
  top: 17px;
  border-radius: 100%;
  background: #4e5dc0;
}
.ovp1 {
  position: absolute;
  width: 9.33px;
  height: 16px;
  left: 19px;
  top: 17px;
  color: #ffffff;
}
.ov2 {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 1266px;
  top: 17px;
  border-radius: 100%;

  background: #4e5dc0;
}
.ovp2 {
  position: absolute;
  width: 9.33px;
  height: 16px;
  left: 19px;
  top: 17px;
  color: #ffffff;
}
.ov3 {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 1322px;
  top: 17px;
  border-radius: 100%;
  background: #4e5dc0;
}
.ovp3 {
  position: absolute;
  width: 9.33px;
  height: 16px;
  left: 21px;
  top: 17px;
  color: #ffffff;
}
.reactangle-23 {
  position: absolute;
  width: 100vw;
  height: 1461px;
  left: 4px;
  top: 5px;
  background: #ffffff;
  border-radius: 0px;
  /* overflow-y: hidden; */
}
.teamtxt {
  position: absolute;
  width: 51px;
  height: 20px;
  left: 485px;
  top: 74px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #4e5dc0;
}
.abouttxt {
  position: absolute;
  width: 79px;
  height: 20px;
  left: 608px;
  top: 74px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #777c85;
}
.coursestxt {
  position: absolute;
  width: 70px;
  height: 20px;
  left: 754px;
  top: 74px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #777c85;
}
.contacttxt {
  position: absolute;
  width: 68px;
  height: 20px;
  left: 898px;
  top: 74px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #777c85;
}
.startbtn {
  position: absolute;
  width: 165px;
  height: 54px;
  left: 1205px;
  top: 54px;
  background: #4e5dc0;
  border-radius: 5px;
}
.starttxt {
  position: absolute;
  width: 109px;
  height: 24px;
  left: 1233px;
  top: 68px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.heading1 {
  position: absolute;
  width: 312px;
  height: 45px;
  left: 117px;
  top: 266px;
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  color: #16171c;
  font-stretch: 100;
  font-variation-settings: "GRAD" 122, "slnt" 0, "XTRA" 603, "XOPQ" 96,
    "YOPQ" 100, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}
.para1 {
  position: absolute;
  width: 573px;
  height: 272px;
  left: 117px;
  top: 373px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  color: #000000;
  opacity: 0.5;
}
.heading2 {
  position: absolute;
  width: 260px;
  height: 45px;
  left: 791px;
  top: 872px;
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  color: #16171c;
  font-stretch: 100;
  font-variation-settings: "GRAD" 122, "slnt" 0, "XTRA" 603, "XOPQ" 96,
    "YOPQ" 100, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}
.para2 {
  position: absolute;
  width: 462px;
  height: 306px;
  left: 791px;
  top: 979px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  color: #000000;
  opacity: 0.5;
}
.secrec {
  position: absolute;
  width: 1440px;
  height: 390px;
  left: 0px;
  top: 1468px;
  background: #ffffff;
}
.menu1 {
  position: absolute;
  width: 92px;
  height: 32px;
  left: 435px;
  /* top: 1521px; */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #4e5dc0;
}
.menu2 {
  position: absolute;
  width: 57px;
  height: 32px;
  left: 925px;
  /* top: 1521px; */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #4e5dc0;
}
.addtxt {
  position: absolute;
  width: 332px;
  height: 96px;
  left: 435px;
  top: 40px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #999999;
}
.mlist {
  position: absolute;
  width: 69px;
  height: 128px;
  left: 925px;
  top: 40px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #999999;
}
.ptxt {
  position: absolute;
  width: 245px;
  height: 32px;
  left: 70px;
  top: 180px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #4e5dc0;
}
.ctxt {
  position: absolute;
  width: 209px;
  height: 64px;
  left: 70px;
  top: 230px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #999999;
}
.etxt {
  position: absolute;
  width: 61px;
  height: 32px;
  left: 435px;
  top: 190px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #4e5dc0;
}
.eetxt {
  position: absolute;
  width: 185px;
  height: 32px;
  left: 435px;
  top: 220px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #999999;
}
